.container{
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


/*СТИЛИ ДЛЯ ЧАСТО ПОВТОРЯЮЩИХСЯ ЭЛЕМЕНТОВ*/
/*---------------*/
/*SECTION*/

.section--black{
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: #3A454D;
	color: #fff;
}

/*section title*/
.section__title{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: #292F36;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 20px;
	margin-top: 80px;
	margin-bottom: 60px;
}
.section__title:before{
	content: "";
	display: inline-block;
	height: 40px;
	width: 10px;
	background-color: #E1E6EA;
	position: absolute;
	top: 0;
	left: 0;
}
.section__title--black{
	color: #fff;
	margin-top: 0;
}
.section__title--black:before{
	background-color: #4E5A62;
}
.section__text{
	font-size: 16px;
	line-height: 26px;
}
.section__text span{
	font-weight: 700;
	color: #8D8F92;
}

/*btn*/
.btn{
	display: inline-block;
	color: inherit;
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 25px;
	border: 2px solid #fff;
	border-radius: 10px;
	transition: background-color .2s linear, border .2s linear;
}
.btn:hover{
	background-color: #23B7A4;
	border-color: #23B7A4;
}

/* затемнение фона и всплывающая иконка над изображением при наведении */
.img__wrapper{
	width: 100%;
	height: 100%;
	background-color: #292F36;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.4s linear;
}
.img__icon{
	position: absolute;
	font-size: 30px;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	opacity: 0;
	transition: opacity 0.4s linear;
}



/*----------------------------*/
/*HEADER [block header]*/

.header{
	height: 10vh;
	color: #fff;
	position: relative;
}
.header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1D2126;
	z-index: 0;
}
.header__content{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	
}


/*header logo*/

.header__logo{
	position: relative;
	z-index: 3;
}
.header__logo img{
	width: 100%;
	height: auto;
}


.header__burger{
	position: relative;
	z-index: 3;
}
/*header nav*/
.header__burger{
	display: none;
}
.header__nav ul{
	display: flex;
}
.nav__list{
	list-style-type: none;
	margin: 0 8px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	padding: 8px 10px;
	border:2px solid transparent;
	transition: color .2s linear, border .2s linear;
}
.nav__list:hover{
	color: #23B7A4;
	border: 2px solid #23B7A4;
}
.nav__list a{
	color: inherit;
	text-decoration: none;
}


/*--------------*/
/*MAIN [block 1]*/
.main{
	width: 100%;
	height: 90vh;
	/*background: #4E515E;*/
	background: url(../img/bg-main.jpg) center no-repeat;
	background-size: cover;	
	color: #fff;
}
/*main slider*/
.main .container{

}
.main__slider{
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;

}
.main__slider-item{

}
.main__slider-title{
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 42px;
	font-weight: 700;
}
.main__slider-text{
	width: 670px;
	margin-top: 35px;
	/*line-height: 26px;*/
}

.main__slider-btn{
	margin: 45px 10px 0 10px;
}


/*----------------------------*/
/*ABOUT BLOCK*/

.about{
	margin-bottom: 100px;
}
.about__hr{
	background-color: #C8CDD0;
	width: 100%;
	height: 1px;
}

/*MODEST*/
.modest{
	display: flex;
	margin-bottom: 80px;
}
.modest__item:first-child{
	flex-basis: 60%;
}

.modest__item:last-child{
	flex-basis: 40%;
}

.modest__item:first-child .section__text{
	width: 90%;
}
.modest__item:first-child .section__text:nth-child(2){
	margin-top: 40px;
}

.modest__social{
	margin-top: 50px;
	display: flex;
}
.modest__social a{
	margin-left: 2px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	background-color: #C8CDD0;
	display: inline-block;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color .2s linear, color .3s linear, font-size .2s linear;
}
.modest__social a:hover{
	background-color: #D0D5D9;
	color: #3A454D;
	font-size: 25px;
}

/*modest list*/
.list__item{
	display: flex;
	margin-bottom: 25px;
}
.list__num{
	font-size: 20px;
	color: #fff;
	padding: 15px 15px;
	margin-right: 20px;
	background-color: #23B7A4;
	display: inline-block;
	align-self: flex-start;
}
.list__title{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #292F36;
}
.list__text{

}

/*ABOUT TEAM*/
.team__card{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.team__item{
	flex-basis: 24%;
}
.team__img{
	background-color: #E1E6EA;
	position: relative;
}
.team__img img{
	width: 100%;
	height: auto;
	transition: opacity .4s linear;
}
.team__item:hover .team__img img{
	opacity: 70%;
}
.team__item:hover .team__social{
	opacity: 1;
}
.team__social{
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	transition: opacity .3s linear;
	opacity: 0;
}
.team__social a{
	display: flex;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	background-color: #3A454D;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	margin-left: 1px;
	transition: background-color .1s linear, font-size .1s linear;
}
.team__social a:hover{
	background-color: #4E5A62;
	font-size: 22px;
}

.team__description{
	background-color: #E1E6EA;
	padding: 10px 20px;
	transition: background-color .2s linear;
}
.team__description span{
	display: block;
}
.team__name{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #292F36;
	margin-bottom: 10px;
	transition: color .2s linear;
}
.team__position{
	font-size: 14px;
	transition: color .2s linear;
}
.team__item:hover .team__description{
	background-color: #3A454D;
}
.team__item:hover .team__name, .team__item:hover .team__position{
	color: #fff;
}
/*PORTFOLIO BLOCK 3*/
.portfolio{
	
}
.portfolio__album{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio__item{
	flex-basis: 32%;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.portfolio__text{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 25px 0 25px 20px;
	background-color: #292F36;
	position: absolute;
	z-index: 1;
	bottom: -50%;
	left: 0;
	width: 100%;
	transition: all 0.4s ease 0s;
}
.portfolio__item:hover .img__icon{
	opacity: 1;
}
.portfolio__item:hover .portfolio__text{
	bottom: 0;
}
.portfolio__item:hover .img__wrapper{
	opacity: 50%;
}
.portfolio__img{
	display: block;
	width: 100%;
	height: auto;
}
.portfolio-btn__wrapper{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

/*----------------------*/
/*WEDO BLOCK*/

.wedo{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wedo__item{
	flex-basis: 22%;
	text-align: center;
	display: inline-block;
	margin-bottom: 100px;
}
.wedo__icon{
	margin-bottom: 35px;
}
.wedo__icon i{
	font-size: 40px;
	color: #23B7A4;
}
.wedo__title{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	color: #292F36;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 20px;
}


/*BLOCK FEATURE*/
/*features article*/

.features__article{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.article__item{
	flex-basis: 30%;
}
.article__item:hover .article__title{
	color: #26C4AF;
}
.article__item:hover .article__text{
	color: #fff;
}
.article__item a{
	color: inherit;
	text-decoration: none;
}
.article__item:hover .img__icon{
	opacity: 1;
}
.article__item:hover .img__wrapper{
	opacity: 50%;
}
.article__img{
	position: relative;
}
.article__img img{
	display: block;
	width: 100%;
	height: auto;
}

.article__title{
	margin-top: 40px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	transition: color .3s linear;
}
.article__text{
	margin-top: 30px;
	color: #DCDFE1;
	transition: color .3s linear;
}