@media(max-width: 1024px){

	/*ABOUT BLOCK*/
	/*modest*/

	.modest{
		flex-wrap: wrap;
	}
	.modest__item{
	}
	.modest__item:first-child, .modest__item:last-child{
		flex-basis: 100%;
	}

	.modest__item:last-child{
		margin-top: 80px;
	}

	.modest__item:first-child .section__text{
		width: 100%;
		text-align: center;
	}

	.modest__social{
		justify-content: center;
	}

	.list__item{
		margin-bottom: 40px;
	}


	/*team*/
	.team__card{
		justify-content: space-around;
	}
	.team__item{
		flex-basis: 40%;
		margin-bottom: 40px;
	}

}

@media(max-width: 992px){
	body.lock{
		overflow: hidden;
	}

	/*---------------*/
	/*SECTION*/
	.section__title{
		justify-content: center;
		margin-bottom: 90px;
	}

	.section__title:before{
		left: 50%;
		top: 50px;
		height: 2px;
		width: 10%;
		transform: translate3d(-50%, 0, 0);
	}

	.header:before{
		z-index: 2;
	}
	/*------------*/
	/*HEADER NAV*/

	/*header burger*/

	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}

	.header__burger span{
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before, .header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	/*burger active*/
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}

	/*header nav*/
	.header__nav{
		position:	fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #3A454D;
		/*background-color: #1D2126;*/
		z-index: 1;
		overflow: auto;
		transition: all .3s ease 0s;
	}
	.header__nav ul{
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav__list{
		margin: 0;
		margin-top: 10px;
		font-size: 16px;
	}

	/*nav active*/
	.header__nav.active{
		top: 0;
	}


	/*block main*/
	.main__slider-title{
		font-size: 45px;

	}


	/*PORTFOLIO BLOCK*/

	.portfolio__album{
		justify-content: space-around;
	}
	.portfolio__item{
		flex-basis: 40%;
		margin-bottom: 4%;
	}
	.portfolio__text{
		padding-left: 0;
		text-align: center;
	}


	/*WEDO BLOCK*/
	.wedo{
		justify-content: space-around;
	}
	.wedo__item{
		flex-basis: 40%;

	}


	/*BLOCK FEATURE*/
	/*features article*/
	.features__article{
		justify-content: center;
	}
	.article__item{
		margin-bottom: 100px;
		flex-basis: 60%;
		text-align: center;
	}
	.article__title{
		
	}



	/*INFO BLOCK*/
	/*info*/
	.info{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.info__text:last-child{
		margin-top: 25px;
	}

	/*form*/

	.form{
		position: relative;
		width: 90%;
		margin: 0 auto;
		margin-top: 80px;
	}
	.form__btn{
		display:block;
		margin: 50px auto 0 auto;
	}
}