@media(max-width: 1260px){
	.container{
		width: 100%;
		max-width: 90%;
	}


	/*WEDO BLOCK*/
	.wedo__item{
		flex-basis: 23%;
	}
}

@media(max-width: 1200px){
	/*INFO FORM*/

	/*form*/

	.form__btn{
		margin-top: 50px;
	}
}