@media(max-width: 768px){
	/*MAIN [block 1]*/

	/*main slider*/

	.main__slider-item{
		text-align: center;
	}
	.main__slider-text{
		width: 100%;
	}
	
	
	.main__slider-text{
		line-height: 30px;
		margin-top: 45px;
	}

	/*slick*/
	.slick-dots{
		bottom: 20px;
		right: 50%;
		transform: translateX(50%);
	}
}